/* for input all field css start - text- number */
.input-wrapper-main {
  @apply mb-[0.82rem];
}
.pv-label-red-required {
  @apply text-red-500 font-semibold;
}
.form-c-label {
  @apply font-[600] capitalize inline-block text-[15px];
}
.form-c-input {
  @apply block w-[100%] py-2 px-3 text-14 sm:text-base font-[400] text-black bg-white bg-clip-padding border appearance-none rounded-md border-solid border-[#ced4da] m-0 focus:outline-[#ced4da] focus:shadow-sm;
}
.form-c-input {
  @apply placeholder:text-14 ;
}
/* for radio  button */
.form-c-radio {
  @apply font-[500] text-black capitalize inline-block mb-0;
}
.input-wrapper-radio {
  @apply flex items-center gap-2 focus:outline-none mb-3 mt-3;
}
.m-sub-prdlist div:not(:last-child) .input-wrapper-radio {
  @apply mb-3;
}
/* .input-wrapper-radio input[type='radio'] {
  @apply mt-1;
} */
.input-wrapper-radio input[type='radio'] + label {
  @apply text-[#5a5a5a] text-14;
}

.input-wrapper-radio input[type='radio']:checked + label {
  @apply text-primary;
}
.input-error-msg {
  @apply text-red-500 text-14 mt-1;
}
.input-text-danger {
  @apply text-red-600;
}
