services:
  - type: web
    name: intra-api-gateway
    runtime: docker
    dockerfilePath: ./API-Gateway/Dockerfile
    dockerContext: ./API-Gateway
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ApiURLs__CatalogueApi
        value: "https://intra-catalogue.onrender.com/"
      - key: ApiURLs__IDServerApi
        value: "https://intra-idserver.onrender.com/"
      - key: ApiURLs__OrderAPI
        value: "https://intra-order.onrender.com/"
      - key: ApiURLs__UserApi
        value: "https://intra-user.onrender.com/"
      - key: ApiURLs__UserLog
        value: "https://intra-log.onrender.com/"
      - key: JWT__ValidAudience
        value: "https://intra-idserver.onrender.com"
      - key: JWT__ValidIssuer
        value: "https://intra-idserver.onrender.com"
      - key: JWT__Secret
        value: "fdf14ddc-1eeb-11ee-be56-0242ac120002"
      - key: JWT__Encryption_Key_id
        value: "aec9dac0-a291-4f21-8d0f-75cb3d339ec4"

  - type: web
    name: intra-catalogue
    runtime: docker
    dockerfilePath: ./Catalogue/Dockerfile
    dockerContext: ./Catalogue
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-idserver
    runtime: docker
    dockerfilePath: ./ID-Server/Dockerfile
    dockerContext: ./ID-Server
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-order
    runtime: docker
    dockerfilePath: ./Order/Dockerfile
    dockerContext: ./Order
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-user
    runtime: docker
    dockerfilePath: ./User/Dockerfile
    dockerContext: ./User
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-log
    runtime: docker
    dockerfilePath: ./Log/Dockerfile
    dockerContext: ./Log
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K
