services:
  - type: web
    name: intra-api-gateway
    runtime: docker
    dockerfilePath: ./API-Gateway/Dockerfile
    dockerContext: ./API-Gateway
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ConnectionStrings__DBconnection
        sync: false
      - key: ApiURLs__CatalogueApi
        sync: false
      - key: ApiURLs__IDServerApi
        sync: false
      - key: ApiURLs__OrderAPI
        sync: false
      - key: ApiURLs__UserApi
        sync: false
      - key: ApiURLs__UserLog
        sync: false

  - type: web
    name: intra-catalogue
    runtime: docker
    dockerfilePath: ./Catalogue/Dockerfile
    dockerContext: ./Catalogue
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-idserver
    runtime: docker
    dockerfilePath: ./ID-Server/Dockerfile
    dockerContext: ./ID-Server
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-order
    runtime: docker
    dockerfilePath: ./Order/Dockerfile
    dockerContext: ./Order
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-user
    runtime: docker
    dockerfilePath: ./User/Dockerfile
    dockerContext: ./User
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K

  - type: web
    name: intra-log
    runtime: docker
    dockerfilePath: ./Log/Dockerfile
    dockerContext: ./Log
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: SSH_PRIVATE_KEY
        value: LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEdW1pL3VadWdORVBVSlE1V1EyRWhLNk9sY0htdEloRVU1NnZLU21iRjdEd0FBQUppRWk0OENoSXZQCkFnQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRHVtaS91WnVnTkVQVUpRNVdRMkVoSzZPbGNIbXRJaEVVNTZ2S1NtYkY3RHcKQUFBRURyRC9hVjV5d3BXeWNuTFZRTlUxWkxOMCtXWi9tRUcybjVDblZ1UDA4SjBlNmFMKzVtNkEwUTlRbERsWkRZU0Vybwo2VndlYTBpRVJUbnE4cEtac1hzUEFBQUFEM0psYm1SbGNpMXpaWEoyYVdObGN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K
