USE [master]
GO
/****** Object:  Database [Intra-TokenProviderDB]    Script Date: 05/21/2024 12:11 ******/
CREATE DATABASE [Intra-TokenProviderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Intra-TokenProviderDB', FILENAME = N'D:\rdsdbdata\DATA\Intra-TokenProviderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Intra-TokenProviderDB_log', FILENAME = N'D:\rdsdbdata\DATA\Intra-TokenProviderDB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Intra-TokenProviderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Intra-TokenProviderDB]
GO
/****** Object:  User [Intra-Db]    Script Date: 05/21/2024 12:11 ******/
CREATE USER [Intra-Db] FOR LOGIN [Intra-Db] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Hachtechyadmin]    Script Date: 05/21/2024 12:11 ******/
CREATE USER [Hachtechyadmin] FOR LOGIN [Hachtechyadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Intra-Db]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Intra-Db]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Intra-Db]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Intra-Db]
GO
ALTER ROLE [db_owner] ADD MEMBER [Hachtechyadmin]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](13) NOT NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[UserTypeId] [int] NULL,
	[Status] [nvarchar](250) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[timestamp] [timestamp] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[MobileOTP] [int] NULL,
	[ReceiveNotifications] [nvarchar](max) NULL,
	[AccountType] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignPageRoles]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignPageRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageRoleId] [int] NOT NULL,
	[RoleTypeId] [int] NULL,
	[UserID] [nvarchar](450) NULL,
	[Read] [bit] NOT NULL,
	[Add] [bit] NOT NULL,
	[Update] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_AssignPageRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageRoleModules]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageRoleModules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PageRoleModules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDeviceSessions]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDeviceSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[DeviceId] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[LoggedOn] [datetime2](7) NOT NULL,
	[AccessToken] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserDeviceSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 05/21/2024 12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230615115932_Database', N'6.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230707063541_InitialCreate', N'6.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230707064105_addNewFieldsinUserstable', N'6.0.12')
GO
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] ON 

INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (1, N'c6a5043c-5bf0-4ce6-b52f-f71a63519335', N'Scope', N'catelogue.read')
INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (2, N'c6a5043c-5bf0-4ce6-b52f-f71a63519335', N'Scope', N'catelogue.write')
INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (3, N'c6a5043c-5bf0-4ce6-b52f-f71a63519335', N'Scope', N'catelogue.update')
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'aa6e7157-ccf9-40d7-b636-5dcf1649c896', N'Seller', N'SELLER', N'e217c8af-2a3b-4568-a55e-93c80d21becd')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c6a5043c-5bf0-4ce6-b52f-f71a63519335', N'Admin', N'ADMIN', N'88aad0f6-078e-4487-a850-ae2ade2b85cf')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'faa74a2d-4432-4814-8f3c-eba703c73f16', N'Customer', N'CUSTOMER', N'ff227acf-9cf1-4a52-8d5f-85b08893e6cd')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'017dfad4-f699-450f-8cf6-b8bbe15dc6d8', N'faa74a2d-4432-4814-8f3c-eba703c73f16')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'023a9ef0-1f9c-4471-bf70-f686e64039cf', N'aa6e7157-ccf9-40d7-b636-5dcf1649c896')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'083aa1a0-6c70-4420-915d-a66c60ca0cbf', N'faa74a2d-4432-4814-8f3c-eba703c73f16')
GO
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'383da263-34ce-4d6b-9a64-a2a6078d4f42', N'Default', N'Reset', N'424025')
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'9b85be77-f2fa-45d9-b9a4-fe2b30ceda23', N'Default', N'Reset', N'573038')
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'e4aeec37-7cd4-46fe-9e65-8821a7d72448', N'Default', N'Reset', N'817315')
GO
SET IDENTITY_INSERT [dbo].[AssignPageRoles] ON 

INSERT [dbo].[AssignPageRoles] ([Id], [PageRoleId], [RoleTypeId], [UserID], [Read], [Add], [Update], [Delete]) VALUES (172, 46, 1, NULL, 1, 1, 1, 1)
INSERT [dbo].[AssignPageRoles] ([Id], [PageRoleId], [RoleTypeId], [UserID], [Read], [Add], [Update], [Delete]) VALUES (173, 47, 1, NULL, 1, 1, 1, 1)
INSERT [dbo].[AssignPageRoles] ([Id], [PageRoleId], [RoleTypeId], [UserID], [Read], [Add], [Update], [Delete]) VALUES (183, 1, 1, NULL, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[AssignPageRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[PageRoleModules] ON 

INSERT [dbo].[PageRoleModules] ([Id], [Name], [URL]) VALUES (1, N'Manage Category', N'/manage-category')
INSERT [dbo].[PageRoleModules] ([Id], [Name], [URL]) VALUES (2, N'Manage Size', N'')
INSERT [dbo].[PageRoleModules] ([Id], [Name], [URL]) VALUES (3, N'Manage Color', N'')
SET IDENTITY_INSERT [dbo].[PageRoleModules] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDeviceSessions] ON 

INSERT [dbo].[UserDeviceSessions] ([Id], [UserId], [DeviceId], [RefreshToken], [RefreshTokenExpiryTime], [LoggedOn], [AccessToken]) VALUES (288, N'935dc783-954b-41f5-8bde-adae1fbd756f', N'Hashkart276631579', N'0MghCKRWWtUg1KcChqw1ORWy7XtaJAafGXgc/Kgeaa+RlFaMW0pJUukKB4i5sRK+MW7+o+8cCVQzdpfbEMlNCg==', CAST(N'2023-08-08T06:34:35.6888158' AS DateTime2), CAST(N'2023-08-01T06:34:35.6888191' AS DateTime2), N'')
INSERT [dbo].[UserDeviceSessions] ([Id], [UserId], [DeviceId], [RefreshToken], [RefreshTokenExpiryTime], [LoggedOn], [AccessToken]) VALUES (291, N'935dc783-954b-41f5-8bde-adae1fbd756f', N'Hashkart757592417', N'KS51JVQPYr9ShClg7NbUswPf1ielBlDEMkDz3wACTfroc3WUovAPDWqOFZ6b+u/hg2Ews+FhGYuS0O7tlhvMhQ==', CAST(N'2023-08-08T07:21:10.0911775' AS DateTime2), CAST(N'2023-08-01T07:21:10.0911807' AS DateTime2), N'')
INSERT [dbo].[UserDeviceSessions] ([Id], [UserId], [DeviceId], [RefreshToken], [RefreshTokenExpiryTime], [LoggedOn], [AccessToken]) VALUES (292, N'935dc783-954b-41f5-8bde-adae1fbd756f', N'Hashkart460241179', N'1PISdOIhTt0SRPsVKMm6T21qkgYRTjBPYuQg3OXOnveFtaJGlTl0Q50h4wHjkn3yVMmS+DckkqT9Fcp+eVt9Kw==', CAST(N'2023-08-08T07:36:21.2486885' AS DateTime2), CAST(N'2023-08-01T07:36:21.2492758' AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[UserDeviceSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (1, N'Super Admin')
INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (2, N'Seller')
INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (4, N'Finance Manager')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
GO
ALTER TABLE [dbo].[PageRoleModules] ADD  DEFAULT (N'') FOR [URL]
GO
ALTER TABLE [dbo].[UserDeviceSessions] ADD  DEFAULT (N'') FOR [AccessToken]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_UserTypes_UserTypeId] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserTypes] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_UserTypes_UserTypeId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AssignPageRoles]  WITH CHECK ADD  CONSTRAINT [FK_AssignPageRoles_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AssignPageRoles] CHECK CONSTRAINT [FK_AssignPageRoles_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[AssignPageRoles]  WITH CHECK ADD  CONSTRAINT [FK_AssignPageRoles_PageRoleModules_PageRoleId] FOREIGN KEY([PageRoleId])
REFERENCES [dbo].[PageRoleModules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignPageRoles] CHECK CONSTRAINT [FK_AssignPageRoles_PageRoleModules_PageRoleId]
GO
ALTER TABLE [dbo].[AssignPageRoles]  WITH CHECK ADD  CONSTRAINT [FK_AssignPageRoles_UserTypes_RoleTypeId] FOREIGN KEY([RoleTypeId])
REFERENCES [dbo].[UserTypes] ([Id])
GO
ALTER TABLE [dbo].[AssignPageRoles] CHECK CONSTRAINT [FK_AssignPageRoles_UserTypes_RoleTypeId]
GO
ALTER TABLE [dbo].[UserDeviceSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserDeviceSessions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserDeviceSessions] CHECK CONSTRAINT [FK_UserDeviceSessions_AspNetUsers_UserId]
GO
USE [master]
GO
