.grid_1-2by2 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-4 focus:outline-none [&>*:nth-child(1)]:row-span-2 [&>*:nth-child(1)]:col-span-1 sm:[&>*:nth-child(1)]:col-span-2;
}
.grid_1-2by2 img {
  @apply max-w-full object-cover;
}
.grid_1-2by2 a {
  @apply w-full;
}
.grid_1-2by2 div {
  @apply w-full;
}
