.grid_1by2-2by1 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-4 grid-rows-2 focus:outline-none;
}
.grid_1by2-2by1 div:nth-child(1) {
  @apply col-span-1 sm:col-span-2 h-full;
}
.grid_1by2-2by1 div:last-child {
  @apply col-span-1 sm:col-span-2;
}
.grid_1by2-2by1 img {
  @apply w-full object-cover h-full;
}
.grid_1by2-2by1 a {
  @apply w-full;
}
.grid_1by2-2by1 div {
  @apply w-full;
}
