.grid_2by1-1by2 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-4 grid-rows-2 focus:outline-none;
}
.grid_2by1-1by2 div:nth-child(3) {
  @apply col-span-1 sm:col-span-2;
}
.grid_2by1-1by2 div:nth-child(4) {
  @apply col-span-1 sm:col-span-2;
}
.grid_2by1-1by2 img {
  @apply w-full object-cover h-full;
}
.grid_2by1-1by2 a {
  @apply w-full;
}
.grid_2by1-1by2 div {
  @apply w-full;
}
