.grid_2by1-1 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-4 focus:outline-none;
}
.grid_2by1-1 div:nth-child(3) {
  @apply col-span-1 sm:col-span-2 row-span-1 sm:row-span-2 h-full;
}
.grid_2by1-1 div:nth-child(4) {
  @apply col-span-1 sm:col-span-2;
}
.grid_2by1-1 img {
  @apply w-full object-cover h-full;
}
.grid_2by1-1 a {
  @apply w-full;
}
.grid_2by1-1 div {
  @apply w-full h-full;
}
.grid_2by1-1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    @apply h-fit;
}