.grid_1-2-1 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-3 grid-rows-2 focus:outline-none;
}
.grid_1-2-1 div:nth-child(1) {
  @apply row-span-2;
}
.grid_1-2-1 div:nth-child(3) {
  @apply row-span-2;
}
.grid_1-2-1 img {
  @apply w-full object-cover h-full;
}
.grid_1-2-1 a {
  @apply w-full;
}
.grid_1-2-1 div {
  @apply w-full h-full;
}
