.grid_3-1-3 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-3 grid-rows-3 focus:outline-none;
}
.grid_3-1-3 div:nth-child(2) {
  @apply row-span-3;
}
.grid_3-1-3 img {
  @apply w-full object-cover h-full;
}
.grid_3-1-3 a {
  @apply w-full;
}
.grid_3-1-3 div {
  @apply w-full h-full;
}
