.grid_1-2by1 {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-4 grid-rows-2 focus:outline-none h-full;
}
.grid_1-2by1 :nth-child(1) {
  @apply col-span-1 sm:col-span-2 row-span-1 sm:row-span-2 h-full;
}
.grid_1-2by1 :last-child {
  @apply col-span-1 sm:col-span-2;
}
.grid_1-2by1 img {
  @apply w-full object-cover;
}
.grid_1-2by1 a {
  @apply w-full;
}
.grid_1-2by1 div {
  @apply w-full;
}
