/* .footer_contact_details{
    @apply bg-grayishBlueWhite;
} */
/* .footer_contact_wrapper{
    @apply grid grid-cols-1 sm:grid-cols-2 gap-6 md:grid-cols-3 md:gap-2 py-6 md:place-items-center;
} */
/* .footer_contact_special_dec_wrapper, .footer_contact_mobile_wrapper, .footer_contact_help-wrapper{
    @apply flex items-center gap-3 mb-2 md:mb-4;
} */
.footer_mail_ip_wrapper {
  @apply relative;
}
.footer_mail-icon {
  @apply bg-[url('/icon/envelope.svg')] h-5;
}
.footer_contact_dec {
  @apply text-sectionTitel font-medium text-14 sm:text-base;
}
.footer_mail_label {
  @apply absolute right-0 top-1/2 -translate-y-1/2;
}
.footer_mail_ip_icon {
  @apply bg-[url('/icon/viewall-arrow.svg')] w-[1.125rem] h-2 shrink-0;
}
.footer_mail_ip {
  @apply focus-visible:outline-none w-full bg-transparent placeholder:text-18 placeholder:text-sectionTitel text-18 text-sectionTitel py-1  pr-5 bottom-0 rounded-none border-b border-sectionTitel;
}
.footer_mobile-icon {
  @apply bg-[url('/icon/mobile.svg')] w-[0.9375rem] h-[1.3125rem] shrink-0;
}
.footer_mobile_app_wrapper {
  @apply flex items-center gap-5;
}
/* .footer_mobile_img{
    @apply max-w-[10rem] w-full; 
} */
.footer_mobile_app_link {
  @apply inline-block;
}
.footer_help-icon {
  @apply bg-[url('/icon/phone.svg')] w-[1.125rem] h-[1.125rem] shrink-0;
}
.footer_middle_details {
  @apply bg-bglight py-9;
}
.footer_site_logo {
  @apply inline-block max-w-[10.9375rem] mb-[1.5rem];
}
.footer_menu_wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2   md:grid-cols-4 gap-8 md:gap-3;
}
.footer_menu_item:not(:first-child) {
  @apply md:justify-self-center;
}
.footer_menu_heading {
  @apply text-24 text-headcolor font-semibold mb-2;
}
.footer_menu_link {
  @apply text-14 sm:text-base font-normal mb-2 inline-block hover:text-slategrey;
}
.footer_shipping_details {
  @apply bg-white py-8;
}
.footer_shipping_wrapper {
  @apply grid  grid-cols-4 gap-2 sm:gap-5;
}
/* .footer_shipping_details_wrapper{
    @apply flex items-start gap-5;
} */
/* .footer_shipping_col:last-child{
    @apply justify-self-center  md:col-start-1 md:col-end-5 xl:justify-self-auto xl:col-auto xl:row-auto ;
} */
/* .footer_shipping_span{
    @apply bg-primary rounded-full w-[2.895rem] aspect-square flex items-center justify-center shrink-0;
} */
.free_shipping-icon {
  @apply bg-[url('/icon/shipping.svg')] w-6 sm:w-[1.9375rem] h-[1.375rem] shrink-0;
}
.return-icon {
  @apply bg-[url('/icon/return.svg')] w-6 sm:w-8 h-7 shrink-0;
}
.authentic-icon {
  @apply bg-[url('/icon/authentic.svg')] w-6 sm:w-[27px] h-7 shrink-0;
}
.brand-icon {
  @apply bg-[url('/icon/brands.svg')] w-6 sm:w-7  shrink-0;
}

/* .footer_shipping_name{
    @apply text-base sm:text-18 text-black font-semibold uppercase border-b border-sectionTitel pb-1 mb-1;
} */
/* .footer_shipping_order-details{
    @apply text-sectionTitel text-base font-medium mb-2;
} */
.footer_shipping_social {
  @apply text-center;
}
.footer_social_link {
  @apply inline-block;
}
.footer_social_icon {
  @apply w-full inline-block h-[1.5rem];
}
/* .footer_shipping_social .footer_social_link:nth-child(odd){
    @apply px-4;
} */
.footer_policy_details {
  @apply bg-bglight py-4;
}
.footer_policy_wrapper {
  @apply flex flex-wrap items-center justify-center gap-x-3 gap-y-1 sm:gap-6 mb-3;
}
.footer_policy_link {
  @apply text-white text-base font-medium hover:text-slategrey;
}
.footer_copy-right {
  @apply text-14 font-normal block text-center sm:flex items-center justify-between;
}
.pv-footer-socia-col li h3 {
  @apply text-left md:text-center;
}
.pv-footer-social-main {
  @apply flex items-start md:items-center md:justify-center gap-[0.625rem] mb-[0.8rem] md:mb-[2.5rem] justify-start;
}
.pv-footer-contact {
  @apply flex justify-start items-start md:items-center md:justify-center flex-col gap-[0.625rem];
}
.footer_powered_logo {
  @apply h-8 w-8;
}

.footer_hash_logo {
  @apply flex mt-2 justify-center items-center  gap-2;
}