/* Layout */
@import './layout/font.css';
@import './layout/default.css';

/* Base */
@import './base/m-icon.css';
@import './base/m-search.css';
@import './misc/MyAccounts.css';
@import './base/m-btn.css';
@import './base/stepper.css';
@import './base/m-ip-checkbox.css';
@import './base/m-ip-textarea.css';
@import './base/modal-component.css';
@import './base/input-component.css';
@import './base/toaster.css';
@import './base/not-found.css';
@import './base/pagination.css';
@import './base/m-loader.css';
@import './base/mix-captcha.css';
@import './base/reactpagination.css';

/* Layout */
@import './layout/header.css';
@import './layout/footer.css';
@import './layout/headerforcheckout.css';

/* Misc  */
@import './misc/header-topbar.css';
@import './misc/SectionTitle.css';
@import './misc/breadcrumb.css';
@import './misc/chargesLable.css';
@import './misc/AddToCartProduct.css';
@import './misc/OfferCoupan.css';
@import './misc/CheckoutOrder.css';
@import './misc/filterbadgeswatching.css';

/* componets */
@import './components/card-productlist.css';
@import './components/hero-slider.css';
@import './components/categories.css';
@import './components/allgrid.css';
@import './components/newbrands.css';
@import './components/summer-collection.css';
@import './components/price-details.css';
@import './components/productsidebar.css';
@import './components/productgrid-view.css';
@import './components/other-sellers.css';
@import './components/myaccount-menu.css';
@import './components/order-confirmation';
@import './components/order-list';
@import './components/order-details';
@import './components/shopping-check-out';
@import './components/sort-filter.css';
@import './components/offcanvasbottom.css';
@import './components/prdt-details.css';
@import './components/wishlist.css';
@import './components/order-confirmed';
@import './components/order-delivering';
@import './components/my-address.css';
@import './components/myprofile';
@import './components/login-signup.css';
@import './components/add-to-cart-checkout.css';
@import './components/pincode.css';
@import './components/password-strength-check.css';
@import './components/loader.css';
@import './components/accordion.css';
@import './components/accordion-checkout.css';
@import './components/heading-component.css';
@import './components/productlist-notfound.css';
@import './components/empty-component.css';
@import './components/bankinfo.css';
@import './components/orderreturnitem.css';
@import './components/testimonial.css';
@import './components/data-not-found.css';
@import './components/searchbar.css';
@import './components/guestsignup.css';
@import './components/countdownTimer.css';
@import './components/popover.css';

/* pages */
@import './pages/explore.css';
@import './pages/productdetail.css';
@import './pages/productlist.css';
@import './pages/add-to-cart.css';
@import './pages/checkout-order.css';
@import './pages/search-list.css';
@import './pages/homepage.css';
@import './pages/orderreturndetails.css';
@import './pages/returnorder.css';
@import './pages/compare.css';
@import './pages/contactus.css';
@import './pages/orderCancelReturn.css';
@import './pages/staticpage.css';
@import './pages/reset-password.css';

/* component -> gridImage layout */
@import './components/GridImageLayout/grid1_2by2.css';
@import './components/GridImageLayout/grid1by1_1.css';
@import './components/GridImageLayout/grid2by2_1.css';
@import './components/GridImageLayout/grid1_2by1.css';
@import './components/GridImageLayout/grid1_1by2.css';
@import './components/GridImageLayout/grid2by1_1.css';
@import './components/GridImageLayout/grid1by2_1.css';
@import './components/GridImageLayout/grid1by2_2by1.css';
@import './components/GridImageLayout/grid2by1_1by2.css';
@import './components/GridImageLayout/grid1_3_1.css';
@import './components/GridImageLayout/grid3_1_3.css';
@import './components/GridImageLayout/grid1_2_1.css';
@import './components/GridImageLayout/grid2_1_2.css';
@import './components/GridImageLayout/grid_col_four.css';
@import './components/HomeGridThumblines/gridthumblines.css';
@import './components/GridImageLayout/customgridlayout.css';
@import './components/swiperstyle.css';
@import './components/tierpricing.css';
@import './components/pricerangeslider.css';
@import './components/outofstockmodal/outofstock.css';
