.mp-outofstock-btn-main {
  @apply flex items-center justify-between mt-3;
}

.mp-outofstock-btn {
  @apply flex items-center justify-end gap-3;
}

.mp-outofstock-badge {
  @apply text-red-600;
}

.mp-outofstock-continue {
  @apply bg-primary text-white hover:bg-white hover:text-primary transition-all font-medium;
}

.mp-outofstock-cancel {
  @apply font-medium;
}

.mp-outofstock-item {
  @apply border-b-2 pb-3 grid grid-cols-3 items-center gap-4;
}

.mp-outofstock-item .product-img-add-to-cart {
  @apply w-28;
}
.mp-outofstock-item .cart-product-title {
  @apply col-span-2;
}
