.accordion {
  @apply bg-white mb-7 border border-[#ccc];
}

.accordion_item.active .accordion_title {
  @apply bg-[#05215b] text-white;
}

.accordion_item .accordion_title {
  @apply relative w-full text-left bg-white text-base capitalize tracking-[0.0125rem] p-[1rem_2rem_1rem_1rem] before:content-[''] before:absolute before:top-1/2 before:-translate-y-1/2 before:right-4 before:w-6 before:h-6 before:bg-no-repeat before:bg-[url('/icon/carret-right.svg')] before:bg-[100%] before:transition-[transform] before:duration-200 before:ease-in-out;
}

.accordion_item.active .accordion_title {
  @apply before:rotate-90;
}

.accordion_item .accordion_content_wrapper {
  @apply overflow-hidden transition-[max-height] duration-300 ease-in-out;
}

.accordion_content {
  @apply p-[1rem_1rem_1.3rem_1rem];
}
