.accordion-check {
  @apply bg-white mb-5 border border-[#ccc] rounded;
}
.accordion_title_check {
  @apply flex items-start justify-between rounded-t;
}
.acc_span {
  @apply text-[#878787] font-medium;
}
.accordion_item_check.active .accordion_title_check {
  @apply bg-[#dbdbdb];
}
.accordion_item_check.active .accordion_title_check .acc_span {
  @apply text-[#505050];
}
/* .accordion_item_check.active  button.m-btn{
  @apply hidden;
} */
.acc_t_fl {
  @apply flex items-center gap-2;
}
.accordion_item_check.active .acc_t_fl {
  @apply mb-0;
}
.acc_p_c {
  @apply font-semibold p-[0rem_1rem_1rem_1rem];
}
.acc_p_c span {
  @apply font-normal;
}
.m_checked {
  @apply bg-[url('/icon/right_check.svg')] w-[1.125rem] h-[1.125rem];
}
.captcha_form .checkout_btn {
  @apply mt-0;
}
.accordion_item_check .accordion_title_check {
  @apply relative w-full text-left bg-white text-base items-center capitalize tracking-[0.0125rem] p-[1rem_2rem_1rem_1rem] before:content-[''] before:absolute before:top-1/2 before:-translate-y-1/2 before:right-4 before:w-6 before:h-6 before:bg-no-repeat before:bg-[url('/icon/carret-right.svg')] before:bg-[100%] before:transition-[transform] before:duration-200 before:ease-in-out;
}

.accordion_item_check.active .accordion_title_check {
  @apply before:rotate-90;
}

.accordion_item_check .accordion_content_wrapper_check {
  @apply overflow-x-auto transition-[max-height] duration-300 ease-in-out;
}

.accordion_content_check {
  @apply p-[1rem_1rem_1.3rem_1rem];
}
