/* .categories-wrapper {
  @apply flex items-center gap-7;
} */
.categories-col {
  @apply flex flex-col justify-center items-center rounded-md;
}
.categories-img {
  @apply mb-2 w-full h-full aspect-square object-contain;
  user-select: none;
}
.categories-name {
  @apply text-18 font-normal text-[#9F9F9F] capitalize;
}
/* .categories-col:hover .categories-img{
    @apply invert brightness-0;
} */
.categories-col:hover .categories-name {
  @apply text-white;
}
.pv-home-thumbline-main {
  @apply grid;
}

.categories-section .swiper-slide {
  @apply h-auto
}
