.pv-countdowntimer-main {
    @apply flex flex-col sm:flex-row  items-center justify-center gap-3 my-3 bg-white px-4 py-2  rounded
}
.pv-countdowntimer-inner {
    @apply  flex gap-2 items-center justify-center
}
.pv-countdown-head {
    @apply text-[1.5rem] font-bold text-gray-800
}
.pv-countdown-body {
    @apply flex justify-center
}
.pv-animatedigit-main {
    @apply flex gap-1 items-center justify-center px-2 w-fit sm:w-24  rounded-full relative
}
.pv-animatedigit-value {
    @apply text-18 font-bold text-gray-700
}
.pv-animatedigit-lable {
    @apply text-xs text-gray-500
}


/* styles.css */

@keyframes swiftUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-swift-up-main {
    animation: swiftUp 1s ease forwards;
  }
  
  .animate-swift-up:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    border-radius: 0.375rem; 
    animation: shimmer 1.5s infinite linear;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      rgba(245, 10, 10, 0.2) 50%,
      transparent 100%
    );
  }
  
  @keyframes shimmer {
    0% {
      background-position-x: 100%;
      /* border: 1px solid red; */
    }
    100% {
      background-position-x: -100%;
      /* border: 3px solid red; */
    }
  }
  



/* ////// */

@keyframes bounceEntrance {
  0% {
    transform: scale(1);
    opacity: 0.5;
    
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    color:rgba(245, 10, 10, 0.2) 50%,;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

/* Apply bouncing entrance animation */
.animate-bounce-entrance {
  animation: bounceEntrance 1.5s ease-in-out forwards infinite;
}
