/* .justify-content-between{
    @apply justify-between;
}
.flex-column{
    @apply flex-col;
}
.flex-r-reverse{
    @apply flex-row-reverse;
}
.heading-main{
    @apply flex items-center justify-center md:justify-between gap-4 mb-6 flex-col md:flex-row;
}
.gp-0{
    @apply gap-0;
}
.me-au{
    @apply me-auto;
}
.m-au{
    @apply m-auto;
}
.ms-au{
    @apply m-auto  md:ms-auto;
}
.jc-center{
    @apply justify-center;
}
.jc-right{
    @apply justify-end;
}
.jc-left{
    @apply justify-start;
}
.fl{
    @apply flex;
}
.btn-ch{
    @apply mt-6;
}
.heading_button{
    @apply hover:underline hover:font-medium;
}
.titleHeadingH1{
    @apply mb-2  text-18 md:text-32 sm:text-24 font-semibold text-[#393d46] capitalize;
}
.subtitleHeadingP{
    @apply text-18 text-[#777777] font-normal;
} */


.justify-content-between{
    @apply justify-between;
}
.flex-column{
    @apply flex-col;
}
.flex-r-reverse{
    @apply flex-row-reverse;
}
.heading-main{
    @apply flex items-center gap-4 mb-6 ;
}
.gp-0{
    @apply gap-0;
}
.me-au{
    @apply me-auto;
}
.m-au{
    @apply m-auto;
}
.ms-au{
    @apply ms-auto;
}
.jc-center{
    @apply justify-center;
}
.jc-right{
    @apply justify-end;
}
.jc-left{
    @apply justify-start;
}
.fl{
    @apply flex;
}
.btn-ch{
    @apply mt-6;
}
.heading_button{
    @apply hover:underline hover:font-medium;
}
.titleHeadingH1{
    @apply mb-2  text-18 md:text-32 sm:text-24 font-semibold text-[#393d46] capitalize;
}
.subtitleHeadingP{
    @apply text-18 text-[#777777] font-normal;
}