.auth-main {
  @apply fixed inset-0 flex items-center z-50 bg-[#34343487] overflow-x-hidden overflow-y-auto outline-0 py-5 h-screen;
}
.auth-login-main {
  @apply relative bg-white p-6 rounded-lg shadow-lg w-[90%] max-w-[24.0625rem] m-auto;
}
.user-lable-pro {
  @apply z-[1];
}
.login-title {
  @apply text-18 pb-4 font-bold tracking-wide;
}
.forget-login  {
  @apply text-end pb-4;
}
.forget-login a {
  @apply text-base w-fit ms-auto text-primary  hover:text-primary hover:font-semibold	 inline-block;
}
.create-hashkart {
  @apply sm:text-base;
}

.sign-main-psw {
  @apply mb-4;
}
.confim-psw-label {
  @apply block mb-2;
}
.signup-psw-input {
  @apply w-full px-4 py-2 border rounded-lg;
}
.btn-login {
  @apply text-base justify-center bg-primary text-white py-2 px-2 rounded-lg min-w-[9.675rem] hover:bg-primary-hover;
}
.login-otp-btn {
  @apply text-base justify-center border-[1px] bg-transparent sm:min-w-[9.675rem] px-2 py-2 border-primary rounded-md hover:rounded-lg hover:border-TextTitle hover:bg-primary hover:text-white;
}
.title-close-btn-main {
  @apply flex justify-between items-center pb-4;
}
.btn-submit-login {
  @apply flex justify-between pb-4 sm:flex-row flex-col gap-4;
}
.btn-close-login {
  @apply w-6 h-6 cursor-pointer text-black;
}
.close-btn-login {
  @apply absolute -top-4 -right-4 bg-lightGray rounded-full p-[0.375rem] hover:bg-primary;
}
.close-btn-login:hover .btn-close-login {
  @apply text-white;
}
.new-account {
  @apply text-center;
}
.account-link-signup {
  @apply text-primary hover:font-semibold;
}
.confirm-psw-input,
.psw-input-login,
.email-input {
  @apply outline-0;
}
.confirm-psw-input,
.psw-input-login,
.email-input:focus {
  @apply drop-shadow shadow-DodgerBlue;
}
.activeblue {
  @apply text-primary;
}
/* .false {
  @apply text-slategrey;
} */
.loginaccount {
  @apply tracking-widest;
}
.signupaccount {
  @apply tracking-widest;
}
.confirm-psw-input {
  @apply w-full px-4 py-2 border rounded-md text-14;
}
.sign-com-label {
  @apply inline-block font-normal	 text-14;
}
.first-last-signup-main {
  @apply flex gap-3;
}
.input_col {
  @apply w-full mt-5;
}
.input_col .radio_box .input-wrapper-radio {
  @apply mb-0;
}
.radio_box {
  @apply w-full relative flex justify-between flex-col Esm:flex-row gap-2;
}
.gendar-man {
  @apply appearance-none;
}
.gendar-female {
  @apply appearance-none;
}
.main_rd_gender {
  @apply w-1/2 justify-center p-1 border py-2 rounded hover:border-primary;
}

.main_rd_gender .form-c-radio {
  @apply w-full inline-flex items-center justify-center;
}

input[type='radio']#men:checked ~ .ico_fl_mn,
input[type='radio']#female:checked ~ .ico_fl_mn {
  @apply text-primary;
}
.main_rd_gender:has(.RadioClass:checked) {
  @apply border-primary shadow-primary shadow-sm;
}
.main_rd_gender:has(.RadioClass:checked) .men-icon {
  @apply bg-[url('/icon/Menfill.svg')];
}
.main_rd_gender:has(.RadioClass:checked) .female-icon {
  @apply bg-[url('/icon/Womenfill.svg')];
}
.men-icon {
  @apply bg-[url('/icon/Men.svg')] w-5 h-5;
}
.female-icon {
  @apply bg-[url('/icon/Women.svg')] w-5 h-5;
}
.radio_box,
.main_rd_gender input {
  @apply cursor-pointer;
}
.radio_box,
.main_rd_gender span {
  @apply cursor-pointer flex gap-2 text-14 items-center;
}
.sign-btn-create {
  @apply bg-primary text-white w-full flex justify-center py-[0.670rem] mb-2 mt-5 hover:bg-primary-hover;
}
.forgot-main {
  @apply flex pb-4 justify-between items-end flex-row sm:items-center;
}
.forgot-title {
  @apply text-18 font-bold tracking-wider text-primary;
}
.pv-forgot-input .form-c-input{
@apply placeholder:text-[13px]
}
.forgot-back-btn {
  @apply flex items-center border border-TextTitle px-2 text-[0.725rem] text-black font-semibold rounded-sm gap-1 hover:text-DodgerBlue;
}
.back-icon {
  @apply bg-[url('/icon/back.svg')] w-3 h-3 hover:w-3 hover:h-3 hover:bg-[url('/icon/back-hover.svg')] hover:bg-no-repeat;
}
.rest-dricp {
  @apply block text-[12px] leading-4 text-Gray;
}
.reset-password-login {
  @apply bg-primary text-white w-full flex justify-center py-[0.59rem] rounded-md hover:bg-primary-hover;
}
.send-rest-forgot {
  @apply mt-4;
}
.invalid-email {
  @apply text-sm text-red-500;
}
.forgot-mobile {
  @apply mb-0;
}

.user-icon {
  @apply bg-[url('/icon/user.svg')];
}
.login-otp-main {
  @apply flex pb-4 justify-between items-end sm:flex-row sm:items-center flex-row;
}
.otp-mobile-num {
  @apply  mb-1;
}
.mp-mobile-otp {
  @apply mb-4 relative;
}
.mp-mobile-otp button {
  @apply absolute right-4 top-[50%] hover:text-red-500;
}
.get-otp-login {
  @apply bg-primary text-white w-full flex justify-center py-[0.59rem] tracking-wider rounded-md hover:bg-primary-hover;
}
.eye-psw-login {
  @apply bg-[url('/icon/eye.svg')] absolute right-0 -translate-x-2/4 -translate-y-2/4 w-5 h-5 cursor-pointer top-[2.8rem] sm:top-[3rem];
}
.eye-main-pasw {
  @apply relative;
}
.eye-sign-up-psw {
  @apply relative;
}
.eye-psw-signup-closed {
  @apply bg-[url('/icon/eye-closed.svg')] absolute right-0 top-[2.8rem] sm:top-[3rem] -translate-x-2/4 -translate-y-2/4;
}
.eye-psw-login-closed {
  @apply bg-[url('/icon/eye-closed.svg')] absolute right-0 -translate-x-2/4 -translate-y-2/4 w-5 h-5 cursor-pointer top-[2.8rem] sm:top-[3rem];
}
