.address_main_fl {
  @apply flex items-center flex-wrap gap-2 justify-between mb-3;
}
.address_new_add {
  @apply bg-[#FEFEFE] border border-lightGray hover:border-primary text-base font-medium text-black gap-2 justify-center w-auto;
}
.address_main_fl_first .order-menu-title {
  @apply pl-0;
}
.address_main-name {
  @apply text-18 mb-2;
}
.add_fl-main {
  @apply md:flex  gap-3 flex-wrap;
}
.def_fl {
  @apply flex justify-between items-center mb-2;
}
.mb_none {
  @apply mb-0;
}
/* .m-add-default{
    @apply bg-white py-1 cursor-pointer text-14;
}
.m-add-default.checked{
    @apply bg-[#526de0] text-white border-[#526de0];
} */
.input_col.my_add_select {
  @apply w-1/2 mb-3 mt-0;
}
.input_col.my_add_select .input-wrapper-radio{
  @apply mt-0 gap-0 w-auto py-2 px-[0.625rem];
}
.input_col.my_add_select .radio_box{
  @apply justify-start;
}
.input_col.my_add_select .form-c-radio .m-icon{
  @apply w-5 h-5;
}
.input_col.my_add_select .form-c-radio .m-icon{
  filter: invert(33%) sepia(3%) saturate(15%) hue-rotate(320deg) brightness(97%) contrast(83%);
}
.input_col.my_add_select .input-wrapper-radio input:checked~.form-c-radio .m-icon{
  filter: invert(12%) sepia(80%) saturate(1416%) hue-rotate(199deg) brightness(97%) contrast(107%);
}
.office-icon {
  @apply bg-[url('/icon/building-community.svg')];
}
.home-icon {
  @apply bg-[url('/icon/home.svg')];
}
.main-mb_3 {
  @apply mb-3 shadow-sm w-full md:w-[49%];
}
.card_default-address {
  @apply border border-b-0 border-lightGray bg-white px-3 py-4;
}
.default_name {
  @apply text-base font-[600] text-[#696e79];
}
.default_add-add {
  @apply text-[0.9375rem] text-[#696e79] mb-2 leading-6;
}
.addressAccordian-buttons {
  @apply w-full p-1 flex bg-white items-center text-[#526cd0] border-t-lightGray border border-lightGray;
}
.addressAccordian-buttons .addressAccordian-button {
  @apply flex items-center justify-center cursor-pointer w-6/12 uppercase text-center font-medium p-1 hover:text-primary;
}
.addressAccordian-buttons .removeaddress_btn{
  @apply text-[#505050] hover:text-red-600;
}
.addressAccordian-buttonDivider {
  @apply w-px h-[30px]  border-l-[#eaeaec] border border-solid;
}
