.order-menu-title {
  @apply text-[1.25rem] font-[600] text-TextTitle ;
}
.order-sidebar-main {
  @apply sticky top-[7.0625rem] bg-white p-3 rounded;
}
.order-sidebar-main .order-menu-title{
  @apply mb-[0.625rem] text-[#b7b7b7] font-poppins font-normal;
}
.order-sidebar-main p {
  @apply text-14 text-TextTitle pb-2 pt-2 pl-2;
}
.order-menu ul li {
  @apply text-base text-TextTitle border-lightGray;
}
.order-menu-list li:not(:last-child) a {
  @apply border-b-[1px];
}
.order-menu-list li a {
  @apply px-3 py-4 w-full block hover:text-primary text-[#838383];
}
.order-menu-list li a.active {
  @apply border-b-[1px] bg-[#fbfbfb] text-primary;
}
.order-menu-list li a.active li a {
  @apply bg-black;
}
.order-menu {
  @apply pb-3 sm:pb-0 rounded;
}
.order-menu-list  {
  @apply flex flex-col;
}
/* ul.order-menu-list li:has(+ li > a.active) a {
  @apply border-b-0 mb-0;
} */
