.order-details-main {
  @apply grid grid-cols-3	gap-4;
}
.order-detail-title-main {
  @apply w-full items-center col-span-3;
}
.pv-order-listmain {
  @apply col-span-3 sm:col-span-2;
}
.od-title {
  @apply text-[1.375rem] text-TextTitle font-bold;
}
.order-detail-title-main span {
  @apply text-14 font-medium text-TextTitle;
}
.order-bill {
  @apply text-base font-medium text-SteelBlue pr-2.5;
}
.order-date {
  @apply flex gap-2 justify-start items-start sm:items-center sm:gap-5 flex-col sm:flex-row;
}
.od-invoice {
  @apply grid items-center justify-end;
}
.order-detail-title {
  @apply flex flex-col gap-4 pb-5 bg-white p-3 rounded;
}
.ship-title {
  @apply font-semibold text-TextTitle pb-2;
}
.payment-title {
  @apply font-semibold text-TextTitle;
}
.ship-address {
  @apply p-3 bg-white rounded;
}
.payment {
  @apply p-3 flex items-center gap-2 bg-white;
}

.ship-address span {
  @apply text-14 font-semibold text-TextTitle;
}
.ship-address p {
  @apply text-14 font-medium text-lightGraytext leading-5;
}
.payment p {
  @apply text-[0.75rem] w-fit px-2 font-medium text-TextTitle leading-5 bg-yellow rounded text-center;
}
.shipping-row {
  @apply flex gap-4;
}
.order-title {
  @apply font-semibold text-TextTitle;
}
.shipping-main {
  @apply flex flex-wrap gap-4  flex-col col-span-3 sm:col-span-1  rounded mb-5;
}

.subtotal-label {
  @apply font-medium  text-TextTitle;
}
.order-price {
  @apply font-semibold;
}
.grandtotal-label {
  @apply font-semibold;
}
.grand-price {
  @apply font-bold;
}
.ord-summry-price {
  @apply flex gap-5 justify-between;
}
.order-productdetail-info {
  @apply flex flex-col gap-0 sm:gap-1 w-[70%];
}
/* .order-productdetail-info span {
  @apply flex text-14 font-normal text-slategrey gap-2;
} */
/* .order-productdetail-info p {
  @apply font-medium text-TextTitle;
} */
.order-product-detail-image {
  @apply relative w-[20%];
}
.order-product-detail-image img {
  @apply h-full w-full px-0 sm:px-3 object-contain;
}
.order-productdetail-info b {
  @apply text-black text-14 font-medium;
}
.order-productdetail-info dl {
  @apply text-[0.75rem] font-medium text-TextTitle;
}
.pv-order-mrp {
  @apply flex gap-1;
}
.order-product-detail {
  @apply w-full flex flex-wrap items-start gap-3 px-3 py-3 bg-white rounded relative;
}
.btn-product-review {
  @apply flex justify-end gap-4 w-full border-b mb-1 sm:mb-4;
}
.product-support {
  @apply font-medium whitespace-nowrap hover:underline hover:text-red-500;
}
.pv-order-track {
  @apply font-medium whitespace-nowrap hover:underline hover:text-green-500;
}
.orderdetail-btn-return {
  @apply font-medium whitespace-nowrap hover:underline hover:text-red-500;
}
.product-review {
  @apply bg-transparent border-2 border-BluishGrey justify-center whitespace-nowrap font-medium hover:border-black hover:text-black;
}
.archive-order {
  @apply bg-transparent border-2 border-BluishGrey justify-center font-medium hover:border-black hover:text-black;
}
.order-badge-danger {
  @apply inline-flex rounded-md px-2 py-1 text-xs font-semibold   border-2 border-red-600 bg-red-400/10;
}
/* .order-details-cancelled { */
/* @apply flex items-start; */
/* } */
/* .order-seller-Items {
  @apply border-[1px] p-2 border-[#D6D6D6] rounded-md mb-5;
} */

/* .order-seller-Items {
  @apply mb-5 ;
} */
