/* .order-place span {
  @apply text-black;
} */
.order-place p,
.order-place span {
  @apply text-slategrey  text-14;
}
/* .order-total span {
  @apply text-black;
} */
.order-total p,
.order-total span {
  @apply text-14 text-slategrey;
}
/* .order-shipto span {
  @apply text-black;
} */
.order-shipto p,
.order-shipto span {
  @apply text-14 text-slategrey;
}
.order-number-invoice p {
  @apply sm:text-14 text-[0.75rem] font-medium text-right text-slategrey;
}
.order-number-invoice ul li {
  @apply text-14 text-SteelBlue font-medium border-r-2 border-slategrey px-2;
}
.order-number-invoice ul li:last-child {
  @apply border-r-0;
}
.orderconfirm-main {
  @apply shadow rounded-md mb-4 hover:shadow-productcard;
}
.order-title-row {
  @apply flex sm:flex-row flex-col sm:gap-[5.3125rem] gap-5 w-full bg-LightSilver p-3 items-center rounded-t-lg;
}
.order-number-invoice ul {
  @apply flex justify-end gap-3;
}
.order-number-invoice ul li a {
  @apply text-12;
}
.order-number-invoice {
  @apply flex flex-col gap-1 items-center sm:items-end;
}
.pv-order-cancelall {
  @apply hover:underline hover:text-primary;
}
.order-number-invoice ul li a {
  @apply hover:underline hover:text-primary;
}
.order-total-placed-main {
  @apply flex gap-3 justify-between sm:w-[30%] w-full;
}
.ship-order-main {
  @apply flex flex-col items-center justify-center sm:flex-row gap-2 sm:gap-4 w-full sm:w-fit;
}
.order-product-image-info {
  @apply flex sm:flex-row flex-col sm:gap-6 gap-3 items-center p-3;
}
.order-product-image {
  @apply rounded p-1;
}
.order-product-image img {
  @apply max-w-[80px] max-h-[80px] object-contain;
}
.orderproduct-title {
  @apply flex flex-col items-center sm:items-start gap-1 w-full;
}
.orderproduct-title span {
  @apply flex items-center font-normal text-slategrey gap-2;
}
.orderproduct-title p {
  @apply font-medium text-TextTitle text-[14];
}

.order-canl-retn-btn {
  @apply flex sm:flex-col flex-row-reverse gap-3;
}
.order-btn-cancel {
  @apply py-1 px-3 text-ReddishBrown font-medium hover:bg-CharmPink;
}
.order-canceld {
  @apply flex justify-center items-center gap-2;
}

.order-canceld-red-mark {
  @apply h-[0.9rem] w-[0.9rem] bg-red-500 rounded-full inline-block;
}
.order-canceld-green-mark {
  @apply h-[0.9rem] w-[0.9rem] bg-green-700 rounded-full inline-block;
}
.order-canceld-text {
  @apply font-medium;
}
.order-btn-return {
  @apply bg-transparent border-2 border-BluishGrey justify-center font-medium hover:border-black hover:text-black;
}
.order-btn-deliver {
  @apply bg-bluishgreen text-darkgreen font-medium rounded-lg hover:bg-[#8fbc8fb3];
}
.archiv-order {
  @apply border-t-2 border-lightGray;
}
.archiv-order p {
  @apply font-normal text-TextTitle pl-2 p-2;
}
.titlebar-order-section p {
  @apply text-14 text-TextTitle pb-2 pt-2 pl-2;
}
.search_bar_order {
  @apply relative w-full;
}
.search_in_order_product {
  @apply relative text-slategrey w-full capitalize border border-[#DBDBDB] py-[0.4375rem] pr-2 pl-10 rounded-md font-light placeholder-slategrey focus-visible:outline-none text-base;
}
.order-m-search__icon {
  @apply absolute top-5 -translate-y-1/2 left-4 w-4 h-4 bg-[url('/icon/search.svg')] bg-no-repeat cursor-pointer items-center;
}
.order-title-search-main {
  @apply flex items-center justify-between sm:flex-row flex-col mb-3;
}
.titlebar-order-section {
  @apply flex gap-4 items-center;
}
.search-filter-divmain {
  @apply flex gap-5 w-full items-center sm:w-[44%] pb-3 sm:pb-0;
}
.filter-icon {
  @apply bg-[url('/icon/order-list-filter.svg')] w-3;
}
.order-filter {
  @apply border-2 h-full border-[#E0E0E0] text-[0.75rem] font-normal text-[#949494] flex gap-2 px-2 py-1 rounded-md;
}
.cancel-title {
  @apply bg-[#F5F7FD];
}
.cancel-title p {
  @apply bg-[#F5F7FD];
}
.cancel-order-head {
  @apply bg-[#F5F7FD] sm:gap-0 gap-7;
}
.order-cancel {
  @apply font-semibold text-base text-ReddishBrown;
}
.item-order-title {
  @apply text-base font-semibold text-TextTitle pb-6;
}
.cancel-order-decrip {
  @apply font-medium text-base text-slategrey pb-3;
}
.cancel-order-seller {
  @apply font-medium text-base text-slategrey pb-5;
}
.cancellation-reson label {
  @apply font-medium text-base text-slategrey sm:mb-0 mb-3 inline-block;
}
/* .cancel-order-reason {
  @apply bg-[url('/icon/arrow.svg')] bg-no-repeat bg-contain bg-right text-14 font-medium text-[#454545] p-2 pr-12 border-[1px] border-BluishGrey rounded-sm appearance-none relative sm:ml-5 ml-0 sm:w-auto w-full;
} */
.cancel-order-reason {
  @apply bg-[url('/icon/arrow.svg')] bg-no-repeat bg-contain bg-right text-14 font-medium text-[#454545] p-2 pr-12  border-b-BluishGrey border-b  appearance-none relative sm:ml-5 ml-0 sm:w-auto w-full;
}
.cancel-order-reason:focus {
  @apply outline-none;
}
.cancel-order-reason option {
  @apply text-14 font-medium text-[#454545];
}
.btn-order-cancel {
  @apply flex flex-col items-end gap-5 sm:mt-28 mt-4;
}
.cancel-selct-item-btn {
  @apply bg-CharmPink text-ReddishBrown font-medium rounded-md text-14 pl-2 p-2 sm:w-auto w-full;
}
.return-summary-btn {
  @apply bg-transparent border-2 border-BluishGrey justify-center rounded-md text-14 font-medium pl-2 p-2 sm:w-auto w-full;
}
