.strength-psw{
    @apply absolute top-1 right-0 text-14;
}
.eye-psw-padding-input{
    @apply pr-10;
}
.true-right{
    @apply bg-[url('/icon/yes.svg')] w-4 h-4;
}
.cancel-sugg{
    @apply bg-[url('/icon/cancel.svg')] w-4 h-4;
}
.hasnumber{
    @apply flex items-center gap-2 text-[0.75rem];
}
.strenth-pasword{
    @apply absolute bg-white p-3 z-10 rounded-lg shadow-lg sm:top-[4.6875rem] top-[3.6075rem];
}