.m-prd-slidebar__item.is-open .m-sub-prdlist {
  @apply block h-fit visible pointer-events-auto transition-all;
}

.m-sub-prditems > div {
  @apply first:mt-0 mt-3;
}

.m-sub-prditems ul {
  @apply list-disc marker:text-Gray ms-5;
}
.m-sub-prditems ul li {
  @apply text-sm;
}
.m-sub-prditems p {
  @apply text-sm;
}
.m-sub-prditems-head {
  @apply font-semibold
}
.m-sub-prdlist {
  @apply pb-3 px-2 h-0 invisible hidden pointer-events-auto;
}
.m-sub-prditems .any-discount-value {
  @apply flex items-center justify-end font-medium mb-1 px-0.5;
}

.m-prd-slidebar__name {
  @apply flex items-center py-2   justify-between font-semibold text-14 sm:text-base text-TextTitle px-2  cursor-pointer;
}

/* .m-prd-slidebar__item.is-open .m-prd-slidebar__name {
  @apply bg-[#F6F7FB] rounded-t-lg;
} */
.m-prd-sidebar__list {
  @apply flex flex-col gap-4;
}
.m-prdlist-icon {
  @apply bg-[url('/icon/menu-dropdown-right.svg')] w-6 h-6 rotate-90;
}

.m-prd-slidebar__item.is-open .m-prdlist-icon {
  @apply rotate-[270deg];
}
/* .m-prd-slidebar__item:last-child {
  @apply border-b border-b-[#DBDBDB];
} */
.m-prd-slidebar__item {
  @apply border border-[#DBDBDB] bg-white rounded p-1;
}

.m-sub-prdname {
  @apply text-slategrey text-sm font-normal capitalize block;
}
.discount-margin-remove {
  @apply mb-0;
}
.m-sub-prdname:not(:last-child) {
  @apply mb-2;
}
.pv-m-subprdctnobrand {
  @apply flex items-center justify-center;
}

.m-sub-prdname .m-search__ip {
  @apply border-t-0 border-l-0 border-r-0 rounded-none text-sm pl-6 border-b-[1px] border-b-[#DBDBDB];
  -webkit-appearance: none;
}
.m-sub-prdname .m-search__icon {
  @apply left-1 h-4 w-4 opacity-80;
}

.ip_checkbox-color {
  @apply bg-gray-400 p-2 w-2 h-2 rounded-full filter drop-shadow-[0px_0px_2px_#4a4a4a];
}

.m-prd-slidebar__viewmore {
  @apply text-xs font-medium text-primary block px-8 cursor-pointer;
}

.m-price-range__wrapper {
  @apply px-2;
}

.m-price-range-input__wrapper {
  @apply flex items-start gap-3 mt-3;
}

.m-price-range__ip {
  @apply border border-[#DBDBDB] px-2 py-1 rounded-md w-1/2 text-14; 
}
.m-price-range-btn {
  @apply block text-right;
}
.btn-price-save {
  @apply border w-full mt-4 border-primary text-sm font-medium bg-white rounded-md px-3 py-1 text-primary hover:bg-primary hover:text-white;
}
.reset_filter {
  @apply flex mb-4 justify-start hover:underline underline pl-2;
}


/* filter sidebar css */
.pv-filter-main {
  @apply fixed bottom-0 w-[80%] left-0 right-0 grid grid-cols-2;
  animation: swiftUp 1s ease-in-out;
}

.pv-filter-main .pv-filter-btn{
  @apply w-full rounded-none bg-primary text-white
}

@keyframes swiftUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}