.sort_and_filter{
    @apply md:hidden fixed bottom-0 bg-white w-[100%] border-t-2 z-[9]
}

.main_sort{
    @apply flex items-center justify-around py-1 px-3
}

.buttonDivider{
    @apply border-l-2 w-[0.0625rem] h-[1.375rem]
}

.button_fl{
    @apply flex m-auto 
}

.m-filter{
    @apply bg-[url('../../icon/filter.svg')] bg-center bg-no-repeat bg-cover h-4 w-4;
}

.m-sort{
    @apply bg-[url('../../icon/sort.svg')] bg-center bg-no-repeat bg-cover h-4 w-4;
}

.btn-sort, .btn-filter{
    @apply border-none font-semibold
}

