.wish_main_flex {
  @apply py-[30px] flex-col flex md:flex-row md:flex gap-6 md:gap-4 mb-5 items-start;
}
.wish_inner_20 {
  @apply md:w-[20%] md:block hidden flex-shrink-0;
}
.wish_inner_80 {
  @apply md:w-[80%] w-full bg-white p-4 rounded;
}
.p-prdlist-wishlist-wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2  md:grid-cols-3 gap-4 xl:grid-cols-3 my-4;
}
.p-prdlist-wishlist-wrapper
  .prd-card-list__wrapper
  .prd-list-btn__wrapper
  .btn-whishlist {
  @apply hidden;
}
.index-headingDiv {
  @apply flex items-center gap-2 mt-4;
}

.index-heading {
  @apply font-[700] text-[1.375rem];
}
.index-count {
  @apply font-[500];
}
.prdt-wishlist-relative {
  @apply relative;
}
.whis_close {
  /* @apply absolute top-3 right-[3.25rem] bg-gray-300 p-2 flex rounded-2xl cursor-pointer; */
  @apply absolute top-2 right-2 border-[#D6D6D6]  py-1 px-[0.625rem] border rounded-md bg-white shadow-productcard hover:shadow cursor-pointer
}
.whis_close i {
  @apply transition duration-300;
}
.whis_close:hover i {
  @apply rotate-90;
}
.wishlist_close-icon {
  @apply h-3 w-3 sm:h-3 sm:w-3 bg-[url('/icon/close.svg')];
}
.btn-whishlist {
  @apply border-[#D6D6D6] md:gap-[0.2rem] md:px-2  bg-white shadow-productcard hover:shadow;
}