.add-cart-compont {
  @apply flex items-start gap-5 md:flex-row flex-col my-6;
}
.cart-product-compont {
  @apply w-full md:w-[70%] bg-white rounded h-fit;
}
.cart-side-compont {
  @apply md:w-2/5 flex flex-col gap-3 w-full sticky top-[6.875rem];
}
.coupan-main {
  @apply w-full bg-white;
}
.badge-danger {
  @apply inline-flex rounded-md px-2 py-1 text-xs font-medium text-black border-2 border-red-600;
}
.pv-counter-inp {
  @apply w-[4rem] text-center font-medium text-base px-2 py-1 m-0 focus-visible:outline-none;
}
