.change_password_wrapper {
  @apply max-w-[31.25rem] mx-auto my-[2rem] bg-[#f7f8fa] p-[1.875rem] rounded-[0.625rem];
}
.change_password_wrapper h1 {
  @apply mb-7 text-24 text-center;
}
.change_password_wrapper .change_password_modal .update_profile_btn {
  @apply mx-auto text-center;
}
